<!DOCTYPE html>
<html lang="en" ng-app="htf">
<head>
    <meta charset="UTF-8">
    <title>Hack The Future: Team 2</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container text-center" ng-controller="htfController as ctrl">
	<br/>
	<div class="btn-group btn-block">
		<button class="btn btn-lg btnWidth btn-success" ng-click="ctrl.btnClicked('on')" >ON</button>
		<button class="btn btn-lg btnWidth btn-danger" ng-click="ctrl.btnClicked('off')" >OFF</button>
	</div>
	<hr/>
	<div class="btnWidth btnMargin">
		<button class="btn btn-lg btn-block btnRood" ng-click="ctrl.btnClicked('rood')" >Rood</button>
		<br/>
		<button class="btn btn-lg btn-block btnGeel" ng-click="ctrl.btnClicked('geel')">Geel</button>
		<br/>
		<button class="btn btn-lg btn-block btnBlauw" ng-click="ctrl.btnClicked('blauw')">Blauw</button>
		<br/>
		<button class="btn btn-lg btn-block btnGroen" ng-click="ctrl.btnClicked('groen')">Groen</button>
		<br/>
		<button class="btn btn-lg btn-block btnRandom" ng-click="ctrl.btnClicked('random')">Random</button>
	</div>
	<hr/>
	<button class="btn btn-lg btn-block btnWidth btnMargin" ng-click="ctrl.registerTeam()">Registreer team</button>

	<h1>{{ctrl.gelukt}}</h1>
	<img src="images/huehuehue.gif" class="img-circle image" alt="" />
	
	<div ng-show="myCtrl.errorMsg">
		<h3>Foutmelding van de server: </h3>
		<p ng-bind-html="ctrl.errorMsg"> </p>
		<hr />
		<p><em>Status: {{ ctrl.status }} </em></p>
	</div>
</div>
    <!-- ***************-->
    <!--     Scripts    -->
    <!-- ***************-->
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/angular-sanitize.min.js"></script>

	<script src="js/app/app.js"></script>
	<script src="js/services/constants.js"></script>

	<script src="js/controllers/indexController.js"></script>
	<script src="js/services/htfFactory.js"></script>
</body>
</html>